<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (usuarioLogueado) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
    <% } %>
    
    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="https://via.placeholder.com/100x100" alt="">
                
                <div class="info-usuario">
                    <p><%= data.nombre%></p>
                    <p><%= data.apellido%></p>
                    <a class="follow" href="">Seguir</a>
                    <ul class="meta">
                        <li>100 Posts</li>
                        <li>200 Seguidores</li>
                        <li>300 Seguidos</li>
                    </ul>
                </div>
            </section>
                                           
            <section class="bottom">
                <% for( let i=0; i < data.usuarioPosteo.length; i++ ) { %>
                    <article class="post">
                        <a href='/posteos/detallePost/id/<%= data.usuarioPosteo[i].id_posteo %>'>
                            <img src="/images/<%= data.usuarioPosteo[i].nom %>" alt="">
                            <p><%=data.usuarioPosteo[i].pie %></p>
                        
                        </a>
                    </article>
                <% }%>      
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>