<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (usuarioLogueado) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
    <% } %>

    <main>
        <section class="center main-content">
            <% for( let i=0; i < usuario.posteo.length; i++ ) { %>
                <article class="post">
                    <div class="info-usuario ">
                        <img src="https://via.placeholder.com/40" alt="">
                        <h4>
                            <a href='/usuarios/detalleUsuario'>Usuario</a>
                        </h4>
                    </div>
                
                    <div class="post-body">
                        <a href="/posteos/detallePost/id/<%= usuario.posteo[i].id %>">
                            <img src="/images/<%= usuario.posteo[i].imagen %>" alt="">
                        </a>
                    </div>
                        
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                
                    <div class="post-comentarios">
                        <h4>Comentarios</h4>
                            <% for( let j=0; j < 3; j++ ) { %>
                                <h4><%= usuario.posteo[i].comentarios[j].texto %></h4>
                            <% } %>
                    </div>
                </article>
            <% } %>        
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>