<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (usuarioLogueado) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
    <% } %>

    <main>
        <section class="center main-content">
            <% for( let i=0; i < posteo.length; i++ ) { %>
                <article class="post">
                    <div class="info-usuario ">
                        <img src="https://via.placeholder.com/40" alt="">
                        <h4>
                            <a href='/usuarios/detalleUsuario/id/<%= posteo[i].posteoUsuario.id_usuario %>'> <%= posteo[i].posteoUsuario.nombre + " " + posteo[i].posteoUsuario.apellido %></a>
                        </h4>
                    </div>
                
                    <div class="post-body">
                        <a href="/posteos/detallePost/id/<%= posteo[i].id_post %>">
                            <img src="<%= posteo[i].nom %>" alt="">
                        </a>
                    </div>
                        
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                
                   <div class="post-comentarios">
                        <h4>Comentarios</h4>
                            <% for( let j=0; j < 3; j++ ) { %>
                                <h4><strong> <%= posteo[i].posteoComentario[j].comentarioUsuario.nombre + " " + posteo[i].posteoComentario[j].comentarioUsuario.apellido%></strong>  <%= posteo[i].posteoComentario[j].texto %></h4>
                            <% } %>
                    </div> 
                </article>
            <% } %>        
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>