<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (locals.user != null) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
    <% } %>
           
    <main>
        
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="https://via.placeholder.com/100x100" alt="">
                
                <div class="info-usuario">
                    <p><%= locals.user.nombre%></p>
                    <p><%=locals.user.apellido%></p>
                    <p><%=locals.user.fecha_nac%></p>
                    <a class="follow" href="/usuarios/editProfile"><i class="fa-solid fa-user-gear"></i></a>
                    
                    <ul class="meta">
                        <li>100 Posts</li>
                        <li>200 Seguidores</li>
                        <li>300 Seguidos</li>
                    </ul>
                </div>
            </section>
            
            <section class="bottom">
                <% for( let i=0; i < usuario.usuarioPosteo.length; i++ ) { %>
                    <article class="post">
                        <a href="/posteos/detallePost/id/<%= usuario.usuarioPosteo.posteo[i].id %>">
                            <img src="/images/<%= usuario.usuarioPosteo[i].foto %>" alt="">
                        </a>
                        <p><%= usuario.usuarioPosteo[i].pie %></p>
                    </article>
                <% } %>       
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>