<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (locals.user != null) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
    <% } %>
    
    <main>
        <section class="center main-content">
            <h1>Resultados de búsqueda:</h1>
            <% for( let i=0; i < 10; i++ ) { %>
                <article class="post">
                    <a href="/usuarios/detalleUsuario/id/<%= usuario[i].id_usuario %>">
                        <h4><%= usuario[i].nombre%></h4>
                        <img src="<%= usuario[i].foto %>" alt="">
                    </a>
                </article>
            <% } %>
        </section>
    </main>
            
    <%- include('./partials/footer') %>

</body>

</html>